In [27]:
import pandas as pd
df = pd.read_csv('Titanic.csv')

### Q_1: Create a Pandas Series named survival_series using the Survived column of the DataFrame

In [10]:
survival_series = df['Survived']
print(survival_series.head())

0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

### Q_2: Display the last 3 rows of the DataFrame and check the data type of the Age column

In [14]:
print(df.tail(3))
print("\nData type of Age column:", df['Age'].dtype)

     PassengerId  Survived  Pclass                          Name   Sex   Age  \
415         1307         0       3  Saether, Mr. Simon Sivertsen  male  38.5
416         1308         0       3           Ware, Mr. Frederick  male   NaN
417         1309         0       3      Peter, Master. Michael J  male   NaN

     SibSp  Parch              Ticket     Fare Cabin Embarked
415      0      0  SOTON/O.Q. 3101262   7.2500   NaN        S
416      0      0              359309   8.0500   NaN        S
417      1      1                2668  22.3583   NaN        C

Data type of Age column: float64

### Q_3 :  Select the Name and Age columns, then filter rows where the passengerâ€™s age is greater than 30

In [16]:
filtered_df = df[['Name', 'Age']][df['Age'] > 30]
print(filtered_df)

                                                Name   Age
0                                   Kelly, Mr. James  34.5
1                   Wilkes, Mrs. James (Ellen Needs)  47.0
2                          Myles, Mr. Thomas Francis  62.0
11                        Jones, Mr. Charles Cresson  46.0
13                              Howard, Mr. Benjamin  63.0
..                                               ...   ...
404                     Frauenthal, Mr. Isaac Gerald  43.0
407                       Widener, Mr. George Dunton  50.0
411  Minahan, Mrs. William Edward (Lillian E Thorpe)  37.0
414                     Oliva y Ocana, Dona. Fermina  39.0
415                     Saether, Mr. Simon Sivertsen  38.5

[132 rows x 2 columns]

### Q_4: Add a new column FamilySize to the DataFrame, calculated as SibSp + Parch + 1 (including the passenger themselves)

In [18]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
print(df[['SibSp', 'Parch', 'FamilySize']].head())

   SibSp  Parch  FamilySize
0      0      0           1
1      1      0           2
2      0      0           1
3      0      0           1
4      1      1           3

#### Q_5: Fill missing values in the Age column with the mean age then Group the data by Pclass and calculate the average age for each class

In [23]:
mean_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(mean_age)
average_age_by_class = df.groupby('Pclass')['Age'].mean()

print(average_age_by_class)

Pclass
1    40.022928
2    28.857881
3    26.090397
Name: Age, dtype: float64

#### Q_Bonus: Calculate the survival rate (mean of Survived) for each gender (Sex)

In [29]:
survival_rate_by_gender = df.groupby('Sex')['Survived'].mean()
print(survival_rate_by_gender)

Sex
female    1.0
male      0.0
Name: Survived, dtype: float64